<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      {{#each links}}
      <div class="column is-3">
        <div class="card">
          <a href="{{url}}" target="_blank">
            <header class="card-header has-background-link">
              <p class="card-header-title has-text-white">{{title}}</p>
            </header>
          </a>
          <div class="card-content">
            <div class="content">
              {{description}}
            </div>
          </div>
          <footer class="card-footer">
            <a class="card-footer-item" href="/links/delete/{{id}}">Eliminar</a>
            <a class="card-footer-item" href="/links/edit/{{id}}">Editar</a>
          </footer>
        </div>
        
      </div>
      {{else}}
      <div class="column has-text-centered">
        <h1 class="title">¯\_(ツ)_/¯</h1>
        <h3 class="subtitle">Aún no tienes links.</h3>
      </div>
      {{/each}}
    </div>
  </div>
</section>
